[submodule "external/esp8266-open-rtos"]
	path = external/esp8266-open-rtos
	url = https://github.com/lwiot/esp8266-open-rtos.git
[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/lwIoT/lwiot-mbedtls.git
[submodule "freertos"]
	path = freertos
	url = https://github.com/lwIoT/lwiot-freertos.git
[submodule "lwip"]
	path = lwip
	url = https://github.com/lwIoT/lwiot-lwip.git
[submodule "lwiot-core"]
	path = lwiot-core
	url = https://github.com/lwIoT/lwiot-core.git
[submodule "external/esp8266-idf"]
	path = external/esp8266-idf
	url = https://github.com/lwIoT/ESP8266_RTOS_SDK.git
