[submodule "external/esp8266-open-rtos"]
	path = external/esp8266-open-rtos
	url = https://github.com/lwiot/esp8266-open-rtos.git
[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/lwIoT/lwiot-mbedtls.git
